body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 0%;
    margin: 0%;
  }
  
  .header {
    background-color: #005477;
    display: grid;
    grid-template-columns: auto 1fr; /* O coloană pentru logo, alta pentru text */
    align-items: center; /* Aliniază vertical elementele la centru */
    gap: 10px; /* Spațiu între imagine și text */
    padding: 0%;
    border-bottom: 1px solid #ccc;
    height: 100px;
  }
  
  #logo {
    max-width: 100px; /* Ajustează dimensiunea logo-ului */
    height: 100%;
    display: block;
  }
  
  .text p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0; /* Elimină marginile implicite */
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
  }
  
  .text p:last-child {
    font-size: 16px;
    color:#ffffff;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  




  .info-pacient {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Prima coloană de 1 parte și a doua de 3 părți */
    gap: 20px; /* Spațiu între coloane */
    align-items:center;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-image {
    width: 100px; /* Lățimea imaginii */
    height: 100px; /* Înălțimea imaginii */
    border-radius: 50%; /* Rotunjirea colțurilor imaginii pentru a o face circulară */
    margin-bottom: 10px; /* Spațiu sub imagine */
}

.col2 {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 15px; /* Spațiu sub titlu */
}

p {
    margin: 5px 0; /* Spațiu între paragrafe */
}

strong {
    font-weight: bold;
}
